<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--<system.web.extensions>
        <scripting>
            <webServices>
            
            
                <jsonSerialization maxJsonLength="1000000" />
            </webServices>
        </scripting>
        
        
        
    </system.web.extensions>--> 
  <connectionStrings>
  <!--  <add name="ApplicationServices" connectionString="Data Source=103.74.54.49;Initial Catalog=IVisionRoots;Integrated Security=False;User Id=usrvisn;Password=Su$n!428P#t;"
      providerName="System.Data.SqlClient" />
    <add name="InventoryServices" connectionString="Data Source=103.74.54.49;Initial Catalog=VrInv04012020;Integrated Security=False;User Id=usrvisn;Password=Su$n!428P#t;"
      providerName="System.Data.SqlClient" /> -->
    <add name="sqlConn" connectionString="Data Source =51.81.30.8,1533;Initial Catalog=LifePlusInv;Integrated Security=false;User ID=usrLPlus;PWD=LLP@#$%^" providerName="System.Data.SqlClient" />
    <!--<add name="sqlConn" connectionString="Data Source =51.81.30.8,1533;Initial Catalog=KNRInv;Integrated Security=false;User ID=usrKNR1;PWD=KNR!#$34" providerName="System.Data.SqlClient" />-->

    <add name="BasicServices" connectionString="Data Source=51.81.30.8,1533;Initial Catalog=BasicInv;Integrated Security=False;User Id=ubasic;Password=ba$!(0915iN;"
      providerName="System.Data.SqlClient" />
    <add name="MasterDB" connectionString="Data Source=51.81.30.8,1533;Initial Catalog=MLMMenuMaster;Integrated Security=False;User Id=Mlmmenu;Password=menu@$#123;"
      providerName="System.Data.SqlClient" />
       <add name="InventoryEntities" connectionString="metadata=res://*/Models.InventoryManagementEntity.csdl|res://*/Models.InventoryManagementEntity.ssdl|res://*/Models.InventoryManagementEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=51.81.30.8,1533;Initial Catalog=LifePlusInv;Integrated Security=False;User Id=usrLPlus;Password=LLP@#$%^;;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  
  

  </connectionStrings>
  <appSettings>
 <!-- <add key="ImgPath" value="http://superadmin.bisplindia.in/images/Logo/"/>-->
<add key="ImgPath" value=""/>
    
  <!--   1	Bright Infocomp Services Pvt. Ltd.
2	MLM Menu1
3	Vision Roots
1003	Basic Mlm
1004	Lamcy Wellness Pvt. Ltd.
1005	Habitat Farmer Producer Organisation
1006	Bigway Worldwide Profit Limited
1007	Vadic Network Pvt. Ltd.
1008	Sunvis Tradenet Pvt Ltd
1009	Goldwings global business Pvt ltd
1010	Well Value India Pvt. Ltd.
1011	Go Happy cart
1012	SHREE NATH MANUFACTURERS
1013	Global Grace Pvt. Ltd.
1014	BKD Food
1015	Discount App
1016	TESTNJ
1017	entertainmentclub.biz
1019	ESTEEM MARKETING AND CONSULTANCY
1020	ghargharsewa.com
1021	Sarvodaya Jupiter Labs
1022        MidBrain Concept Private Limited
1023        Mom Health care Pvt.Ltd.
1024        BSTAR MEGACORP Pvt Ltd
1025        imamazing.app
1026        Mohrs India Marketing
1027        Zenex Express Way
1028        AGR Business Zone India Pvt. Ltd.-->
    <add key="TmpCompID" value="1030"/>
    <!--<add key="TmpCompID" value="1031"/>-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="False" />
  </appSettings>
  <system.web>
    <!--<authentication mode="None" />-->
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Login" timeout="60" slidingExpiration="true" />
    </authentication>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="Off" defaultRedirect="~/Error/Error" />
  </system.web>
  <system.webServer>
    <modules>
      <!--<remove name="FormsAuthentication" />-->
    </modules>
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.13.1" newVersion="5.5.13.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>