@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Error";
}



<script type="text/javascript">
    $(document).ready(function () {
        $(".preloader").hide();
    });
</script>


<div class="row">
    <div class="page-title">
        <div class="title_left">
            <h3>Error</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-lg-12 ">
            <div class="x_panel">
                <div class="x_title">
                    
                        <h2> An unexpected error has occurred. Please contact the system administrator.</h2>
                    

                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="list-sfs-holder">
                        
                        @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
                        {
                            <div>
                                <p>
                                    <b>Exception:</b> @Model.Exception.Message<br />
                                    <b>Controller:</b> @Model.ControllerName<br />
                                    <b>Action:</b> @Model.ActionName
                                </p>
                                <div style="overflow:scroll">
                                    <pre>
                    @Model.Exception.StackTrace
                </pre>
                                </div>
                            </div>
                        }
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



